<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head lang="en">
      <title>Day</title>
      <link th:href="@{/css/style.css}" href="../../static/css/style.css"
         rel="stylesheet" />
   <body>
      <div class="container">
      <h2>Day</h2>
      <div th:object = "${date}" class="box">
         <p>
         <span th:utext="*{stringMonth}"></span>
          <b>,</b>
          <span th:utext="*{day}"></span>
           <b>.</b>
          <span th:utext="*{year}"></span>
        </p>
      </div>
      <div th:if="${not #lists.isEmpty(date.tasks)}">
         <table class="table table-bordered">
            <tbody>
               <tr th:each="task, state : ${date.tasks}" th:object = "${date}">
                  <td th:utext="${task.name}">day</td>
                  <td th:utext="${task.time}">day</td>
                  <td><a th:href="@{'/calendar/'+${date.year}+'/'+${date.month}+'/'+${date.day}+'/'+editTask+'/'+${task.ID}}" class="btn btn-default">Edit</a></td>
                  <td><a class="btn btn-danger"
                     th:href="@{'/calendar/'+${date.year}+'/'+${date.month}+'/'+${date.day}+'/'+deleteTask+'/'+${task.ID}}">Delete</a></td>
               </tr>
            </tbody>
         </table>
      </div>
      <a class="btn btn-default"
         th:href="@{'/calendar/'+${date.year}+'/'+${date.month}+'/'+${date.day}+'/'+createTask+'/'}">Create new</a>
   </body>
</html>

