<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Groups</title>
<th:block th:include="layout/header"></th:block>
</head>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th colspan="2"
					th:if="${loginedPerson instanceof T(com.foxminded.university.entities.personDetails.Admin)}">
					<a class="btn btn-primary btn-block"
					th:href="@{'/groups/createGroup'}">New Group</a>
				</th>
				<th colspan="2"
					th:unless="${loginedPerson instanceof T(com.foxminded.university.entities.personDetails.Admin)}">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${groups.empty}">
				<td colspan="2">No Groups Available</td>
			</tr>
			<tr th:each="group : ${groups}">
				<td><span th:text="${group.Id}"> Id </span></td>
				<td><span th:text="${group.groupName}"> Name </span></td>
				<td><a th:href="@{/groups/editGroups/{id} (id=${group.Id})}"
					class="btn btn-default">Edit</a></td>
				<td><a class="btn btn-danger"
					th:href="@{/groups/delete/{id} (id=${group.Id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>