<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Items</title>
<th:block th:include="layout/header"></th:block>
<th:block th:include="layout/searchAndPage"></th:block>
</head>
<body>
	<table class="table table-bordered table-striped" id="itemTable">
		<thead>
			<tr>
				<th th:text="#{name}"></th>
				<th th:text="#{desc}"></th>
				<th th:text="#{category}"></th>
				<th th:text="#{location}"></th>
				<th th:text="#{owner}"></th>
				<th colspan="2"><button class="btn btn-primary btn-block"
						onclick="addItem()">
						<span th:text="#{addItem}"></span>
					</button></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${items.empty}">
				<td colspan="5" th:text="#{notAvaileble}"></td>
			</tr>
			<tr th:each="item : ${items}">
				<td th:if="${item.translationList.get(currentLanguage)!=null}">
					<div th:if="${item.translationList.get(currentLanguage).name!=''}">
						<span th:text="${item.translationList.get(currentLanguage).name}">
							Name </span>
					</div>
					<div
						th:unless="${item.translationList.get(currentLanguage).name!=''}">
						<span th:text="${item.translationList.get('en').name}">
							Name </span>
					</div>
				</td>
				<td th:unless="${item.translationList.get(currentLanguage)!=null}">
					<span th:text="${item.translationList.get('en').name}"> Name
				</span>
				</td>
				<td th:if="${item.translationList.get(currentLanguage)!=null}">
					<div th:if="${item.translationList.get(currentLanguage).description!=''}">
						<span th:text="${item.translationList.get(currentLanguage).description}">
							Desc </span>
					</div>
					<div
						th:unless="${item.translationList.get(currentLanguage).description!=''}">
						<span th:text="${item.translationList.get('en').description}">
							Desc </span>
					</div>
				</td>
				<td th:unless="${item.translationList.get(currentLanguage)!=null}">
					<span th:text="${item.translationList.get('en').description}"> Desc
				</span>
				</td>
				<td><span th:text="${item.category.name}"> Category </span></td>
				<td><span th:text="${item.location.name}"> Location </span></td>
				<td><span th:text="${item.owner.username}"> Owner </span></td>
				<td><a class="btn btn-info"
					th:href="@{/items/{id} (id=${item.Id})}" th:text="#{editButton}">=</a></td>
				<td>
					<button class="btn btn-danger" th:data-parameter1="${item.Id}"
						th:data-parameter2="${item.translations[0].name}"
						th:onclick="tryDelete(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
						th:text="#{deleteButton}"></button>
				</td>
			</tr>
		</tbody>
	</table>
	<script th:inline="javascript">
	var descDiv = document.getElementById("SearchByDescDiv");
	descDiv.style.display="inline-block";
	if(localStorage.getItem("checkBoxDesc") == "true"){
		document.getElementById("findByDescCheckbox").checked = true;
	}
		
		function saveSearchByDesc(e){
			var currentHref = new URL(window.location.href);
		    localStorage.setItem("checkBoxDesc", e);
		    if(e==false)
		      currentHref.searchParams.delete('byDesc');
		    else 
		      currentHref.searchParams.set('byDesc', 'true');
			window.location.href = currentHref;
		}
	
		function tryDelete(id,name) {
			var message = /*[[#{shureToDelete}]]*/ 'Do you realy whant to delete';
			var r = confirm(message+" "+ name + "?");
			if (r == true) {
				  window.location.href ="/items/delete/"+id;
			}
		}
	</script>

</body>
</html>