body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: transparent url("https://www.ionos.com/digitalguide/fileadmin/DigitalGuide/Teaser/totp-t.jpg") no-repeat;
    
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(10px);
  }
}

a.day_link:link {color: #202020;}
a.day_link:visited {color: #202020;}
a.day_link:hover {font-size: 120%}
a.day_link:active {color: red;}

table, th, td {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:auto;
	border: 0.1em solid black;
}
th {
	padding: 2em;
	text-align: center;
}

td {
	padding: 1.8em;
	text-align: center;
}

.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
}
.calendar_date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
 
}

.calendar_day_unactive {
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 25px;
  color: gray;
}

.calendar_day_active {
    position: relative;
    border: 2px solid black;
   border-radius: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 25px;
  color: black;
}

.container_sup{
 position: absolute;
 right:0px;
  top:0px;
  font-size: 10px;
  color: red;
}

.container{
  background-color: white;
    display: block;
  text-align: center;
}

.container2{
  background-color: white;
  display: block;
}
