body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: url("https://steamuserimages-a.akamaihd.net/ugc/916923327996368167/2E9A20BCFF717A81A0247C74B761D185A8C10887/") no-repeat center / cover;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(10px);
  }
}

.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.calendar_date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
 
}

.calendar_day_previous {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: gray;
}

.calendar_day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: black;
}

 .small_task{
     color: red;
}

.container{
 background-color: #fff;
  box-sizing: border-box;
}

